---
title: "Eyeconic Beauty By Anya | Lash and Brow Technician | Oldmeldrum, Aberdeenshire"
description: "Qualified lash and brow technician home-based in Oldmeldrum, Aberdeenshire. Specializing in all kinds of lash treatments and brow styling."
permalink: "/"
preloadImg: ''
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script
        defer
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script defer>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
    <meta name="facebook-domain-verification" content="7zh2pikwjbw4795xbtc8p9f9akb1hd" />
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-855">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Feel Beautiful, Feel Confident</span>
            <h1 class="cs-title">Flawless Brows & Lashes You've Always Dreamed Of</h1>
            <p class="cs-text">
                Specialising in all types of eyelash extensions and precision brow-styling to compliment and enhance your existing style, or create your desired look.
            </p>
            <a href="https://www.fresha.com/book-now/eyeconic-beauty-by-anya-ggrt0nlh/services?lid=1484099&eid=3350444&share&pId=1409389" class="cs-button-solid">Book an Appointment</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/hero_box.jpg' | resize({ height: 800, width: 800 }) | webp %}">
            <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/hero_box.jpg' | resize({ height: 800, width: 800 }) | webp %}">
            <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/hero_box.jpg' | resize({ height: 800, width: 800 }) | webp %}"alt="therapy" />
        </picture>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/new_background.jpg' | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/new_background.jpg' | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/new_background.jpg' | webp %}" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--             Side by Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-1892">
    <!-- <img id="section-background-image" src="/assets/images/background1.jpg" /> -->
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/anya.jpg' | resize({ height: 664, width: 506 }) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/anya.jpg' | resize({ height: 664, width: 506 }) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/anya.jpg' | resize({ height: 664, width: 506 }) | webp %}" alt="dermatologist" width="324" height="467">
            </picture>
            <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="/assets/svgs/lines-reverse.svg" alt="graphic" width="208" height="203" aria-hidden="true">
            <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="/assets/svgs/blob-reverse.svg" alt="graphic" width="56" height="42" aria-hidden="true">
            <img class="cs-graphic cs-beige" loading="lazy" decoding="async" src="/assets/svgs/beige-reverse.svg" alt="graphic" width="379" height="394" aria-hidden="true">
            <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="/assets/svgs/leaf-reverse.svg" alt="graphic" width="179" height="225" aria-hidden="true">
            <picture class="cs-info">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/logo.png' | resize({ height: 467, width: 467 }) | webp %}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/logo.png' | resize({ height: 467, width: 467 }) | webp %}">
                <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/logo.png' | resize({ height: 467, width: 467 }) | webp %}" alt="dermatologist" width="324" height="467">
            </picture>
        </div>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">About us</span>
                <h2 class="cs-title">Hi there,</h2>
            </div>
            <p class="cs-text">
I’m a fully trained, qualified, and insured Lash and Brow Technician. I aim to deliver a precise and high-quality service to help boost your confidence and ensure you get the look you desire. I would love to welcome you to my cozy and relaxing beauty room in Unit 5, Colpy Business Park, Oldmeldrum, Aberdeenshire, AB51 0FU, behind coop. My room is part of the Coffee and Dreams cafe and the Neon Lights Tanning Salon, which offers a variety of beauty services all under one roof, plenty of parking, a relaxing atmosphere and coffee and cakes if you fancy a treat.
            </p>
            <a href="https://www.fresha.com/book-now/eyeconic-beauty-by-anya-ggrt0nlh/services?lid=1484099&eid=3350444&share&pId=1409389" class="cs-button-solid">Book an Appointment</a>
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/background1.jpg' | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/background1.jpg' | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/background1.jpg' | webp %}" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-351">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Treatments</h2>
        </div>
        <ul class="cs-faq-group">
        <h2 class="cs-title">Eyelash Treatments</h2>
            {% for treatment in lash_treatments %}
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            {{ treatment.name }}
                        </span>
                    </button>
                    <p class="cs-item-p">
                    {{ treatment.description | safe }}. Treatment time is {{ treatment.treatment_time }}.
                    {% if treatment.offers_infill %}
                        <br>
                        <br>
                        Due to our lashes shedding daily, an infill is recommended {{ treatment.infill_interval }} to maintain fullness. The treatment time for an infill is {{ treatment.infill_time }}.
                    {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>
        <ul class="cs-faq-group">
        <h2 class="cs-title">Eyebrow Treatments</h2>
                <!-- Active class added as default -->

                {% for treatment in brow_treatments %}
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                {{ treatment.name }}
                            </span>
                        </button>
                        <p class="cs-item-p">
                            {{ treatment.description | safe }}. Treatment time is {{ treatment.treatment_time }}.
                        </p>
                    </li>
                {% endfor %}
            </ul>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/background2.jpg' | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/background2.jpg' | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/background2.jpg' | webp %}" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-975">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Price List</h2>
        </div>
        <div class="cs-menu">
            <!--Left Menu-->
            <ul class="cs-menu-group">
            <h3 class="cs-pricing-header">Eyebrow Treatments</h3>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Henna Brows</span>
                        <span class="cs-price">£40</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Brow Lamination</span>
                        <span class="cs-price">£40</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Brow Threading</span>
                        <span class="cs-price">£15</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Brow Wax</span>
                        <span class="cs-price">£15</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Brow Tint</span>
                        <span class="cs-price">£15</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Expert Brows (Extensions)</span>
                        <span class="cs-price">£50</span>
                    </h3>
                </li>
            </ul>
            <ul class="cs-menu-group">
            <h3 class="cs-pricing-header">Eyelash Extensions</h3>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Classic</span>
                        <span class="cs-price">£60</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Russian</span>
                        <span class="cs-price">£58</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Hybrid</span>
                        <span class="cs-price">£58</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Volume</span>
                        <span class="cs-price">£60</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Classic Infill (2 Weeks)</span>
                        <span class="cs-price">£35</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Russian/Hybrid Infill (2 Weeks)</span>
                        <span class="cs-price">£35</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Russian/Hybrid Infill (3 Weeks)</span>
                        <span class="cs-price">£45</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Volume Infill (2 Weeks)</span>
                        <span class="cs-price">£35</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Volume Infill (3 Weeks)</span>
                        <span class="cs-price">£45</span>
                    </h3>
                </li>
            </ul>
            <!--Right Menu-->
            <ul class="cs-menu-group">
            <h3 class="cs-pricing-header">Other Lash Treatments</h3>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">LVL Lift & Tint</span>
                        <span class="cs-price">£38</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Bottom Lash Tint</span>
                        <span class="cs-price">£5</span>
                    </h3>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Lash Extention Removal</span>
                        <span class="cs-price">£5</span>
                    </h3>
                </li>
            </ul>
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/background3.jpg' | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/background3.jpg' | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/background3.jpg' | webp %}" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
    </picture>
</section>


<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<!--
    To add a 5th or 6th gallery or more, copy and paste the cs-button and change it's data-filter to th next number, in this case it's 5. Do the dame to the cs-gallery and its data-category number. And thats it!
-->

<section id="gallery-1449">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Gallery</h2>
            </div>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    All
                </button>
                <button class="cs-button" data-filter="two">
                    Eyelashes
                </button>
                <button class="cs-button" data-filter="three">
                    Eyebrows
                </button>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <!--Gallery 1-->
            <div class="cs-gallery" data-category="one">
            {% for image in lash_images %}
            {% set image_path = '/assets/images/lashes/' ~ image ~ '.jpg' %}
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <source media="(min-width: 601px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <img loading="lazy" decoding="async" src="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}" alt="Lash treatment" width="305" height="400">
                </picture>
              {% endfor %}

            {% for image in brow_images %}
            {% set image_path = '/assets/images/brows/' ~ image ~ '.jpg' %}
                <picture class="cs-image">
                  <source media="(max-width: 600px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <source media="(min-width: 601px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <img loading="lazy" decoding="async" src="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}" alt="Lash treatment" width="305" height="400">
                </picture>
              {% endfor %}

            </div>
            <!--Gallery 2-->
            <div class="cs-gallery cs-hidden" data-category="two">
            {% for image in lash_images %}
            {% set image_path = '/assets/images/lashes/' ~ image ~ '.jpg' %}
                <picture class="cs-image">
                  <source media="(max-width: 600px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <source media="(min-width: 601px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <img loading="lazy" decoding="async" src="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}" alt="Lash treatment" width="305" height="400">
                </picture>
              {% endfor %}
            </div>

            <!--Gallery 3-->
            <div class="cs-gallery cs-hidden" data-category="three">
            {% for image in brow_images %}
            {% set image_path = '/assets/images/brows/' ~ image ~ '.jpg' %}
                <picture class="cs-image">
                  <source media="(max-width: 600px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <source media="(min-width: 601px)" srcset="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}">
                  <img loading="lazy" decoding="async" src="{% getUrl image_path | resize({height: 320, width: 305}) | webp %}" alt="Lash treatment" width="305" height="400">
                </picture>
              {% endfor %}
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/background2.jpg' | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/background2.jpg' | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/background2.jpg' | webp %}" alt="cream background with ripple" width="1920" height="970" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Any Questions? Please get In Touch!</h2>

            <!-- <a href="" class="cs-button-solid">Gret A Free Quote</a> -->
    <!-- ============================================ -->
    <!--                  Stats                       -->
    <!-- ============================================ -->

    <!-- No headers, so no section tag -->
    <div id="contact-strip-324">
        <ul class="cs-stat-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/phone-grey.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Social Media</span>
                    <span class="cs-social-link-container">
                        <a href="https://www.facebook.com/people/Eyeconic-Beauty-By-Anya/61569984466017/" class="cs-social-link">
                            <img class="cs-social-icon" src="/assets/svgs/facebook-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                        </a>
                        <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/people/Eyeconic-Beauty-By-Anya/61569984466017/" class="cs-link">Facebook</a>
                    </span>
                    <span class="cs-social-link-container">
                        <a href="https://www.instagram.com/eyeconicbeauty_byanya/" class="cs-social-link">
                            <img class="cs-social-icon" src="/assets/svgs/instagram1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                        </a>
                        <a target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/eyeconicbeauty_byanya/" class="cs-link">Instagram</a>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/pin-grey.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Address</span>
                    <a target="_blank" rel="noreferrer noopener" href="https://maps.app.goo.gl/jc9HwuPehkKdESyT7" class="cs-link">Unit 5, Colpy Business Park, Oldmeldrum, Aberdeenshire, AB51 0FU</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <svg class="cs-icon" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#4a4a4a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Anya's Opening Times</span>
                    <span style="display: block; font-size: var(--bodyFontSize); line-height: 1.5em; color: white !important;">Mondays 10-8</span>
                    <span style="display: block; font-size: var(--bodyFontSize); line-height: 1.5em; color: white !important;">Thursday 10-8</span>
                    <span style="display: block; font-size: var(--bodyFontSize); line-height: 1.5em; color: white !important;">Friday 10-8</span>
                    <span style="display: block; font-size: var(--bodyFontSize); line-height: 1.5em; color: white !important;">Saturday 10-8</span>
                </div>
            </li>
        </ul>
    </div>
                                
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/new_background.jpg' | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/new_background.jpg' | webp %}">
        <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/new_background.jpg' | webp %}" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                

<script>
const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }

class GalleryFilter {
        filtersSelector = '.cs-button'
        imagesSelector = '.cs-gallery'
        activeClass = 'cs-active'
        hiddenClass = 'cs-hidden'

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector)
            this.$activeFilter = $filters[0]
            this.$images = document.querySelectorAll(this.imagesSelector)

            this.$activeFilter.classList.add(this.activeClass)

            for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter)

            const { activeClass } = this

            this.$activeFilter.classList.remove(activeClass)
            $filter.classList.add(activeClass)

            this.$activeFilter = $filter
        }

        filter(filter) {
            const showAll = filter == 'all'
            const { hiddenClass } = this

            for (const $image of this.$images) {
            const show = showAll || $image.dataset.category == filter
            $image.classList.toggle(hiddenClass, !show)
            }
        }
        }

    new GalleryFilter()
                                
</script>

{% endblock %}
